@tailwind base;
@tailwind components;
@tailwind utilities;

img.pixel-art {
  image-rendering: pixelated; /* Chrome, Opera */
  image-rendering: crisp-edges; /* Firefox */
  image-rendering: -moz-crisp-edges; /* Firefox (older) */
  image-rendering: -webkit-optimize-contrast; /* Safari, older versions of Chrome/Opera */
}
